---
title: Mobile Number Verification
permalink: /sync-for-users/mobile-number
description: ""
---
### **How do I verify my mobile number?**
![](/images/Mobile%20Number.svg)

Enter your mobile number upon submitting your ART results and verify on Sync for automatic retrieval. You will only need to verify your mobile number once. Your name and NRIC details are automatically collected from SingPass. 


### **How do I update my mobile number?**
![](/images/Profile_verification.svg)

To update or change your mobile number, access your **profile page** from the Sync menu. You will need to verify your new mobile number via an OTP verification.