---
title: Mobile Number Verification
permalink: /sync-for-users/mobile-number
description: ""
---
### **How do I verify my mobile number?**
![](/images/Mobile%20Number.svg)

Before you submit an ART result, you will need to verify your mobile number. You will only need to do this once, and your verified number will be saved on your profile. Your name and NRIC details will be filled in automatically when you log in using Singpass.


### **How do I update my mobile number?**
![](/images/Profile%20Verification.svg)

To update or change your mobile number, visit the **Profile** page in the Sync menu. You will need to verify your new mobile number using an OTP.