---
title: Mobile Number Verification
permalink: /sync-for-users/mobile-number
description: ""
---
### **How do I verify my mobile number?**
Name and NRIC details are automatically collected from SingPass. 
Enter your phone number details and verify on Sync for automatic retrieval. You will only need to enter your mobile number one time. 


### **How do I update my mobile number?**
You can always update or change your mobile number by **accessing your profile page under the menu.** After which, you will need to verify your new mobile number via an OTP verification.