---
title: Mobile Number Verification
permalink: /sync-for-users/mobile-number
description: ""
---
### **How do I verify my mobile number?**
![Alt text for image on Isomer site](/images/guide/Mobile%20Number.png)

Name and NRIC details are automatically collected from SingPass. 
Enter your mobile number upon submitting your ART  details and verify on Sync for automatic retrieval. You will only need to enter your mobile number one time. 


### **How do I update my mobile number?**
![Alt text for image on Isomer site](/images/guide/Profile%20verification.png)
You can always update or change your mobile number by **accessing your profile page under the menu.** After which, you will need to verify your new mobile number via an OTP verification.